

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rosybrown;
    gap: 60px;
    margin: 20px;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
