.container{
    display: flex;
	flex-direction: column;
	font-size: 20px;
}

.column{
	display: flex;
	justify-content: space-evenly;
}

.left{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.right{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.diets{
    display: flex;
	flex-direction: column;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
	font-size: 20px;
    background-color: aqua; 
}
