/* Contenedor de las Cards */
.recipes-container {
  display: flex; /* Utiliza Flexbox para organizar las cards */
  flex-wrap: wrap; /* Permite que las cards se envuelvan cuando no hay suficiente espacio */
  justify-content: center; /* Centra las cards en pantallas más grandes */
  gap: 10px; /* Espacio entre las cards */
  margin: 20px; /* Margen alrededor del contenedor */
}

/* Estilos para Móviles */
@media (max-width: 768px) {
  .recipes-container {
    flex-direction: column; /* Cambia a diseño en columna en móviles */
    align-items: center; /* Centra las cards */
  }

  .card {
    width: 90%; /* Las cards ocupan el 90% del ancho de la pantalla en móviles */
    max-width: 400px; /* Máximo ancho de la card */
    margin-bottom: 20px; /* Espacio entre las cards */
  }
}

/* Estilos de la Card */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Transición suave */
}

.card:hover {
  transform: translateY(-5px); /* Efecto hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Sombra más intensa en hover */
}


.image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.content {
  padding: 15px;
  text-align: center;
}

.title {
  font-size: 1.1em;
  font-weight: bold;
  margin: 10px 0;
}

.dietTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
  gap: 5px;
}

.dietTag {
  background-color: #e0f7fa;
  color: #00796b;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
}

.moreInfoBtn {
  background-color: #00796b;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.moreInfoBtn:hover {
  background-color: #004d40;
}
