.detail-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.recipe-header {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.recipe-image {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.ingredients-container, .instructions-container {
    width: 100%;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ingredients-container h2, .instructions-container h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

.ingredients-container ul, .instructions-container ul {
    list-style-type: none;
    padding: 0;
}

.ingredients-container ul li, .instructions-container ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.instructions-container ul li strong {
    font-weight: bold;
}

@media (max-width: 768px) {
    .detail-container {
        padding: 15px;
        margin: 20px;
    }

    .recipe-header {
        font-size: 2em;
    }

    .ingredients-container, .instructions-container {
        padding: 15px;
    }
}
