.filterSort {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.041);
    height: 5vh;
  }
.filterSort option{
    font-size:15px;
}
  
.filterSort span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    margin-right: 0.3rem;
  }
  
.filterSort select {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    width: 5vw;
    height: 4vh;
    margin-right: 1.5rem;
    border-radius: 5px;
}

.filterselect {
    width: 12vw !important;
}


.filterSort  input{
  padding: 10px 50px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  margin-top: 40px;
  background-image: linear-gradient(55deg, #ffffff 0, #eae4ff 25%, #bcbaef 50%, #8394e1 75%, #2b75d4 100%);
  color: black;
  cursor: pointer;
  
  transition: all 300ms;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}