.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Permite desplazarse horizontalmente si es necesario */
  white-space: nowrap;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.container button {
  display: inline-block;
  text-align: center;
  padding: 8px 12px;
  background-color: #ffa500;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border: none; /* Quitar el estilo del botón por defecto */
  border-radius: 5px;
  cursor: pointer; /* Añadir cursor de puntero */
  transition: background-color 0.3s;
  min-width: 35px;
}

.container button:hover {
  background-color: #ff7f50;
}

.container .active {
  background-color: #ff4500;
  pointer-events: none;
}
